/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header {
    display: flex;
    align-content: center;
  }
  nav{
      padding-bottom: 2%;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content2 {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: space-between;}
   div{
       margin-bottom:2%;
   }
}

