* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
 font-family: 'Times New Roman', Times, serif;
}
body {
  
  background-color: #312525;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid white;
  nav {
    height: 80px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  span {
    font-size: 45px;
    letter-spacing: 7px;
    color: white;
  }
  ul {
    display: flex;
    justify-content: space-between;
    width: 35%;
    align-items: center;
  }
  a {
    font-size: 20px;
    color: white;
  }
}
main {
  margin: 5%;
  .content1 {
    line-height: 60px;
    color: white;
    h1 {
      font-size: 70px;
    }
    p {
      padding-top: 10px;
      font-size: 25px;
    }
  }
  .content2 {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    div {
      color: white;
      width: 20em;
      font-size: 12px;
      word-break: break-all;
    }
  }

  .card-img-top{
    height: 275px;
  }
}

 
